// email 區
.form-text-bar {
    position: relative;
}

.text-icon {
    position: absolute;
    top: 20px;
    left: 20px;
}

// footer

.ul-none {
    list-style-type: none;
}

.form-login-position {
    position: relative;
}

.form-login-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}